body {
  background-color: var(--toslide-background-gray) !important;
}

select,
select option {
  font-size: var(--toslide-font-size) !important;
  color: var(--toslide-font-gray);
  background-color: white;
}

/* header */
.toslide__version {
  font-size: 0.8rem;
  color: var(--toslide-normal-gray);
}

.toslide-back-btn {
  cursor: pointer;
  transform: scale(1.2);
}

.logo {
  cursor: pointer;
  transform: scale(0.8);
}

/* main */
.mode-select {
  border-bottom: 1px solid var(--toslide-gray);
}

.toslide-btn-group {
  background-color: var(--toslide-gray);
  max-width: 720px;
  border-radius: var(--border-radius);
  padding: var(--padding-very-small);
}

.toslide-btn-group label {
  cursor: pointer;
  border-radius: var(--border-radius);
}

.toslide-btn-group .radio-input {
  display: none;
}

.toslide-btn-group .radio-input:checked + label {
  background-color: white;
  box-shadow: 0px 0.5px 3px #00000033;
}

.input-section input,
.input-section select {
  border-radius: var(--border-radius);
  padding: var(--padding-small) var(--padding-middle);
  border: 1px solid var(--toslide-gray);
  width: 80%;
}

.input-section label {
  color: var(--toslide-font-gray);
}

.select-input-dropdown {
  position: absolute;
  top: auto;
  right: 1px;
  width: 2rem;
  height: 2rem;
}

.submit-btn {
  width: 100% !important;
  background-color: var(--toslide-blue);
  color: white;
  padding: var(--padding-middle) var(--padding-middle) !important;
}

@media screen and (min-width: 768px) {
}
